@media screen and (max-width: 992px) {
  .display-1 {
    font-size: 3rem;
    font-weight: normal;
  }
}

@media screen and (max-width: 767px) {
  .display-1 {
    font-size: 2rem;
    font-weight: normal;
  }

  .p-3 {
    padding: 0 !important;
  }
}

@media screen and (max-width: 542px) {
  .navbar-brand .ml-3 {
    font-size: 1rem;
  }
